<div class="card-body">
    <div>
        <form [formGroup]="validationForm">
            <input type="hidden" />
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Order ID</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Order Id"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.tradeId">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Seller Name</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.sellerName">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Seller Location</label>
                        <input type="text" disabled class="form-control" id="location" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.location">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <label>Quality</label>
                    <input type="text" class="form-control" id="quality" placeholder="Enter quality" disabled
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.req_quality">
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Quantity</label>
                        <input type="number" disabled class="form-control" id="quantity"
                            placeholder="Enter Quantity (mt)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="buyerModel.sellerQuantity">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Rate (Rupees / Per Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="rate" placeholder="Enter Rate (rs/pmt)"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.buyerRate">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Terms (Days)</label>
                        <input type="number" disabled class="form-control" id="terms"
                            placeholder="Enter Delivery Terms (days)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="buyerModel.deliveryTerms">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Payment Terms (Days)</label>
                        <input type="text" disabled class="form-control" id="terms"
                            placeholder="Enter Payment Terms (days)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="buyerModel.payment_days">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Trade Date</label>
                        <input type="text" disabled class="form-control" id="tradeDate" placeholder="Enter Trade date"
                            value="{{buyerModel.createdDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Trade Status</label>
                        <input type="text" disabled class="form-control" id="terms" placeholder="Enter Trade Status"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="buyerModel.tradeStatus">
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Status</label>
                        <input type="text" disabled class="form-control" id="terms"
                            placeholder="Enter Delivery Status" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="buyerModel.tradeStatus">
                    </div>
                </div> -->
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Material Images</label> <br>
                        <img class="img-thumbnail" alt="200x200" width="200"
                            src="http://localhost:9000{{buyerModel.materialImage}}" data-holder-rendered="true">
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let s of transportDetails;let i=index">
                <hr>
                <h4 class="mb-3">Delivery Vehicle Details : {{i+1}}</h4>
                <hr>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Transporter Vehicle No</label>
                        <input type="text" disabled class="form-control" id="terms"
                            placeholder="Transporter Vehicle No:" value="{{s.vehicleNo}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Transporter Contact NO</label>
                        <input type="text" disabled class="form-control" id="terms" value="{{s.driverContact}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Material Quantity</label>
                        <input type="text" disabled class="form-control" id="terms" value="{{s.materialQuantity}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Amount</label>
                        <input type="text" disabled class="form-control" id="terms" value="{{s.invoiceAmount}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Dispatched Date</label>
                        <input type="text" disabled class="form-control" id="terms" value="{{s.startDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="s.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivered Date</label>
                        <input type="text" disabled class="form-control" id="terms" value="{{s.endDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Weight Proof From Seller</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{s.weightSlip}}"
                            alt="weightProofFromSeller" width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Slip Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{s.invoiceImage}}" alt="Invoice"
                            width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="s.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivery Reciept Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{s.deliveryReciept}}" alt="Delivery"
                            width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="s.deliveryStatus!='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivery Reciept Image Uploader</label>
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFile($event,i)" />
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ s.imageUrl +')'">
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    (click)="fileInput.click()">Upload
                                    Image</button>
                                <button type="submit" class="btn btn-warning btn-sm btn-block">Remove
                                    Image</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="s.deliveryStatus!='Delivered'">
                    <div class="form-group mb-3">
                        <label class="form-label">Delivery Status</label>
                        <select required class="form-control form-select" formControlName="selectStatus"
                            [ngClass]="{'is-invalid': submitted && f.selectStatus.errors}"
                            [(ngModel)]="s.deliveryStatus">
                            <option value disabled>Select Delivery Status</option>
                            <!-- <option value="Dispatched">Dispatched</option> -->
                            <option value="DELIVERED">DELIVERED</option>
                        </select>
                        <div *ngIf="submitted && f.selectStatus.errors" class="invalid-feedback">
                            <span *ngIf="f.selectStatus.errors.required">Select Delivery Status is required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3" *ngIf="s.deliveryStatus!='Delivered'">
                    <button type="submit" class="btn btn-primary" (click)="saveDeliveryReciept(s)">Submit</button>
                </div>
            </div>
            <!-- end row -->

            <!-- <div class="form-group mt-3 mb-3 form-check">
                <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                    data-pristine-required-message="You must accept the terms and conditions" />
                <label class="form-check-label" for="term-check01">I accept the terms and
                    conditions</label><br />
            </div> -->

        </form>
    </div>
</div>