<div>
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide>
                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
            </ng-template>
        </ng-container>
    </owl-carousel-o> -->
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/1.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/2.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/3.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/4.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/5.jpg">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/images/sliders/6.jpg">
            </div>
        </ng-template>
    </owl-carousel-o>
</div>