.c-icon {
    display: inline-flex;
    width: 70px;
    height: 70px;
    align-items: center !important;
    justify-content: center !important;
    font-size: 45px;
    color: #74788d;
    transition: all 0.4s;
    border: 1px solid #e9e9ef;
    border-radius: 50%;
    margin-right: 16px;
    vertical-align: middle;
    margin-left: 20px;
}
