<div class="card-body">
    <ng-template #scrollDataModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title mt-0">Bank Details</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Seller Name</dt>
                <dd class="col-sm-8">{{customerModel.firstName}} {{customerModel.lastName}}</dd>
                <dt class="col-sm-4">Seller Location</dt>
                <dd class="col-sm-8">{{buyerModel.sellerLocation}}</dd>
                <dt class="col-sm-4 text-truncate">Account NO</dt>
                <dd class="col-sm-8">{{customerModel.bank_acc_no}}</dd>
                <dt class="col-sm-4 text-truncate">Account Type</dt>
                <dd class="col-sm-8">{{customerModel.acc_type}}</dd>
                <dt class="col-sm-4 ">Account Holder's Name</dt>
                <dd class="col-sm-8">{{customerModel.acc_holder_name}}</dd>
                <dt class="col-sm-4 text-truncate">IFSC Code</dt>
                <dd class="col-sm-8">{{customerModel.isfc_code}}</dd>
                <dt class="col-sm-4 text-truncate">Invoice Total Amount</dt>
                <dd class="col-sm-8">{{buyerModel.invoiceAmount}} ₹</dd>

            </dl>
        </div>
    </ng-template>
    <div>
        <form [formGroup]="validationForm">
            <input type="hidden" />
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Order ID</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Order Id"
                            value="{{buyerModel.tradeId}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Seller Name</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Seller Name"
                            value="{{buyerModel.sellerName}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Seller Location</label>
                        <input type="text" disabled class="form-control" id="location" placeholder="Seller Location"
                            value="{{buyerModel.sellerLocation}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <label>Quality</label>
                    <input type="text" class="form-control" id="quality" placeholder="quality" disabled
                        value="{{buyerModel.quality}}">
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Total Quantity (Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="quantity" placeholder="Quantity (mt)"
                            value="{{buyerModel.quantity}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{buyerModel.dilveredDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Payment Due Date</label>
                        <input type="text" disabled class="form-control" id="terms" placeholder="Payment Due Date"
                            value="{{dueDate}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Vehicle No</label>
                        <input type="text" disabled class="form-control" id="rate" value="{{buyerModel.vehicleNo}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Dispatched Quantity (Metric Ton)</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{buyerModel.materialQuantity}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Amount</label>
                        <input type="text" disabled class="form-control" id="rate" value="{{buyerModel.invoiceAmount}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Seller Bank Details</label> <br>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target=".bs-example-modal-center"
                                (click)="openBankDetails(scrollDataModal)"><i
                                    class="bx bxs-bank font-size-14 align-middle"></i>View Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Unique Transaction Reference</label>
                        <input type="text" disabled class="form-control" id="rate" value="{{buyerModel.utrNo}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Payment Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{buyerModel.paymentDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Weight Proof Images</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{buyerModel.weightSlip}}"
                            alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Slip Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{buyerModel.invoiceImage}}"
                            alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivery Reciept Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{buyerModel.deliveryReciept}}"
                            alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Payment Slip Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{buyerModel.paymentImage}}"
                            alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.paymentDate==null" >
                    <div class="form-group mb-3">
                        <label>Unique Transaction Reference</label>
                        <input type="text" formControlName="utr" [(ngModel)]="buyerModel.utrNo"
                            [ngClass]="{ 'is-invalid': submitted && f.utr.errors }" class="form-control" id="utr"
                            placeholder="Enter UTR Number">
                        <div *ngIf="submitted && f.utr.errors" class="invalid-feedback">
                            <div *ngIf="f.utr.errors.required">UTR Number is required</div>
                            <div *ngIf="f.utr.errors.min">Only Numbers allowed & Do not characters.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="buyerModel.paymentDate==null" >
                    <div class="form-group mb-3">
                        <label>Payment Slip Uploader</label>
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFile($event)" />
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    (click)="fileInput.click()">Upload
                                    Image</button>
                                <button type="submit" class="btn btn-warning btn-sm btn-block">Remove
                                    Image</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->

            <div class="form-group mt-3 mb-3 form-check" *ngIf="buyerModel.paymentDate==null" >
                <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                    data-pristine-required-message="You must accept the terms and conditions" />
                <label class="form-check-label" for="term-check01">I accept the terms and
                    conditions</label><br />
            </div>

            <div class="form-group" *ngIf="buyerModel.paymentDate==null" >
                <button type="submit" class="btn btn-primary" (click)="savePaymentDetails()">Submit</button>
            </div>
        </form>
    </div>
</div>