<app-header-main></app-header-main>
<div class="bg-soft-light" style="margin-bottom: 60px !important;">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <img src="assets/images/small/register.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Register Here</h4>
                    </div>
                    <div class="card-body">
                        <aw-wizard [navBarLayout]="'large-empty-symbols'">
                            <aw-wizard-step stepTitle="Personal Details">
                                <ng-template awWizardStepSymbol>
                                    <i class=" bx bxs-user"></i>
                                </ng-template>
                                <div class="row">
                                    <form [formGroup]="validationForm">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Salutation</label>
                                                    <select required class="form-control form-select" required
                                                        formControlName="select"
                                                        [ngClass]="{'is-invalid': submitted && f.select.errors}">
                                                        <option selected>Select Salutation</option>
                                                        <option value="Mr">Mr.</option>
                                                        <option value="Mrs">Mrs.</option>
                                                        <option value="Ms">Ms.</option>
                                                    </select>
                                                    <div *ngIf=" f.select.errors" class="invalid-feedback">
                                                        <span *ngIf="f.select.errors.required">This Field is
                                                            required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">First
                                                        name</label>
                                                    <input type="text" formControlName="fname" class="form-control"
                                                        id="fname"
                                                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                                                        placeholder="Enter First Name">
                                                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                                        <div *ngIf="f.fname.errors.required">First name is required
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Last
                                                        name</label>
                                                    <input type="text" formControlName="lname" class="form-control"
                                                        id="lname"
                                                        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                                                        placeholder="Enter Last Name">
                                                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                                        <div *ngIf="f.lname.errors.required">Last name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone Number</label>
                                                    <input type="number" formControlName="contact"
                                                        [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
                                                        class="form-control" id="contact"
                                                        placeholder="Enter Phone Number">
                                                    <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                                                        <div *ngIf="f.contact.errors.required">Phone Number is required.
                                                        </div>
                                                        <div *ngIf="f.contact.errors.min">Only Numbers allowed & Do not
                                                            enter
                                                            characters.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Email Address</label>
                                                    <input type="email" formControlName="email"
                                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                        class="form-control" id="useremail" placeholder="Enter email">
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                                        <div *ngIf="f.email.errors.email">Email must be a valid email
                                                            address</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Register As.</label>
                                                    <select required class="form-control form-select"
                                                        formControlName="regAs"
                                                        [ngClass]="{'is-invalid': submitted && f.regAs.errors}">
                                                        <option selected>Select Role</option>
                                                        <option value="seller">Seller</option>
                                                        <option value="buyer">Buyer</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.regAs.errors" class="invalid-feedback">
                                                        <span *ngIf="f.regAs.errors.required">This Field is
                                                            required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <ul class="list-inline wizard mb-0">
                                                <li class="next list-inline-item float-end"><button type="submit"
                                                        class="btn btn-primary" awNextStep>Next</button>
                                                </li>
                                                <!-- <li class="next list-inline-item float-end" style="margin-right: 10px;">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </li> -->

                                            </ul>
                                        </div>
                                    </form>
                                </div>

                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="Comapny Details">
                                <ng-template awWizardStepSymbol>
                                    <i class="bx bx-buildings"></i>
                                </ng-template>
                                <div class="row">
                                    <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-pancard-input1" class="form-label">Company
                                                        Name.</label>
                                                    <input type="text" formControlName="companyname"
                                                        class="form-control" id="companyname"
                                                        [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"
                                                        placeholder="Enter Company Name">
                                                    <div *ngIf="submitted && f.companyname.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.companyname.errors.required">Company name is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input1"
                                                        class="form-label">Desgination</label>
                                                    <input type="text" formControlName="desgination"
                                                        class="form-control" id="desgination"
                                                        [ngClass]="{ 'is-invalid': submitted && f.desgination.errors }"
                                                        placeholder="Enter Desgination">
                                                    <div *ngIf="submitted && f.desgination.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.desgination.errors.required">Desgination is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-cstno-input1" class="form-label">GST
                                                        No.</label>
                                                    <input type="text" formControlName="gstno" class="form-control"
                                                        id="gstno"
                                                        [ngClass]="{ 'is-invalid': submitted && f.gstno.errors }"
                                                        placeholder="Enter GST Number">
                                                    <div *ngIf="submitted && f.gstno.errors" class="invalid-feedback">
                                                        <div *ngIf="f.gstno.errors.required">GST Number is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input1" class="form-label">Worked
                                                        Phone</label>
                                                    <input type="number" formControlName="workphone"
                                                        [ngClass]="{ 'is-invalid': submitted && f.workphone.errors }"
                                                        class="form-control" id="workphone"
                                                        placeholder="Enter Workphone Number">
                                                    <div *ngIf="submitted && f.workphone.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.workphone.errors.required">Workphone is required.
                                                        </div>
                                                        <div *ngIf="f.workphone.errors.min">Only Numbers allowed & Do
                                                            not
                                                            enter
                                                            characters.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Material Quality</label>
                                                    <!-- <select required class="form-control form-select"
                                                        formControlName="selectMaterial"
                                                        [ngClass]="{'is-invalid': submitted && f.selectMaterial.errors}">
                                                        <option selected>Select Material Quality</option>
                                                        <option value="q1">Q1</option>
                                                        <option value="q2">Q2</option>
                                                        <option value="q3">Q3</option>
                                                    </select> -->
                                                    <div class="multi_default">
                                                        <ng-select [items]="Default" [multiple]="true"  bindValue="name"
                                                       bindLabel="name" 
                                                       formControlName="multiDefaultOption">
                                                            <!-- <ng-template ng-optgroup-tmp let-item="item">
                                                                {{item.country || 'Unnamed group'}}
                                                            </ng-template> -->
                                                        </ng-select>
                                                    </div>
                                                    <!-- <div *ngIf="submitted && f.selectMaterial.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="f.selectMaterial.errors.required">This Field is
                                                            required.</span>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input1" class="form-label">Average
                                                        Monthly Trade (Ton.)</label>
                                                    <input type="number" formControlName="avg_mnth_trade"
                                                        [ngClass]="{ 'is-invalid': submitted && f.avg_mnth_trade.errors }"
                                                        class="form-control" id="avg_mnth_trade"
                                                        placeholder="Enter Average Monthly Trade (Approx)">
                                                    <div *ngIf="submitted && f.avg_mnth_trade.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.avg_mnth_trade.errors.required">Average Monthly
                                                            Trade is required.
                                                        </div>
                                                        <div *ngIf="f.avg_mnth_trade.errors.min">Only Numbers allowed &
                                                            Do
                                                            not
                                                            enter
                                                            characters.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-address-input"
                                                        class="form-label">Address</label>
                                                    <textarea id="basicpill-address-input" class="form-control" rows="2"
                                                        id="address" formControlName="address"
                                                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                                        placeholder="Address (Area and Street)"></textarea>
                                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                                        <div *ngIf="f.address.errors.required">Address is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input1" class="form-label">Enter
                                                        City/District/Town</label>
                                                    <input type="text" formControlName="city" class="form-control"
                                                        id="city"
                                                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                                                        placeholder="City/District/Town">
                                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                        <div *ngIf="f.city.errors.required">City/District/Town is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input1" class="form-label">Enter
                                                        Pincode</label>
                                                    <input type="number" formControlName="pincode"
                                                        [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"
                                                        class="form-control" id="pincode"
                                                        placeholder="Enter Pincode Number">
                                                    <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                                        <div *ngIf="f.pincode.errors.required">Pincode is required.
                                                        </div>
                                                        <div *ngIf="f.pincode.errors.min">Only Numbers allowed & Do
                                                            not
                                                            enter
                                                            characters.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group mb-3">
                                                    <label for="Selct State" class="form-label">Select
                                                        State</label>
                                                    <select required class="form-select" formControlName="selectState"
                                                        [(ngModel)]="selectedState" (change)="selectStateData($event)"
                                                        [ngClass]="{'is-invalid': submitted && f.selectState.errors}">
                                                        <option>Select State</option>
                                                        <option *ngFor="let c of stateData">{{c.name}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && f.selectState.errors"
                                                        class="invalid-feedback">
                                                        <span *ngIf="f.selectState.errors.required">This Field is
                                                            required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input1" class="form-label">Enter
                                                        Landmark</label>
                                                    <input type="text" formControlName="landmark" class="form-control"
                                                        id="landmark" placeholder="Landmark (Optional)">
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline wizard mb-0">
                                            <li class="previous list-inline-item"><button class="btn btn-primary"
                                                    awPreviousStep>Previous</button>
                                            </li>
                                            <li class="next list-inline-item float-end" type="submit"><button
                                                    class="btn btn-primary" awNextStep>submit</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>

                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
</div>