<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a routerLink="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.svg" alt="" height="24">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Minia</span>
                    </span>
                </a>

                <a routerLink="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.svg" alt="" height="24">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">Minia</span>
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item d-lg-none" id="vertical-menu-btn"
                (click)="toggleMobileMenu($event)">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <!-- App Search-->
            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i></button>
                </div>
            </form>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2" ngbDropdown>
                <button type="button" class="btn header-item" id="page-header-search-dropdown" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    <i-feather name="search" class="icon-lg"></i-feather>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown" ngbDropdownMenu>

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..."
                                    aria-label="Search Result">

                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" class="btn header-item bg-soft-light border-start border-end"
                    id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ngbDropdownToggle>
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1 fw-medium">Shawn L.</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <!-- item-->
                    <a class="dropdown-item" routerLink="/apps/profile"><i
                            class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item" routerLink="/account/lock-screen"><i
                            class="mdi mdi-lock font-size-16 align-middle me-1"></i> Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <!-- <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i
                            class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-logout">{{ 'MENUITEMS.AUTHENTICATION.LIST.LOGOUT' | translate}}</span></a> -->
                </div>
            </div>

        </div>
    </div>
</header>
<div class="preview-img">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="item event-list">
                <div class="slide-bg" style="background-image: url(./assets/images/bg-1.jpg);"></div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="item event-list">
                <div class="slide-bg" style="background-image: url(./assets/images/bg-2.jpg);"></div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="item event-list">
                <div class="slide-bg" style="background-image: url(./assets/images/bg-3.jpg);"></div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<!-- preview bg -->

<div class="coming-content min-vh-100 py-4 px-3 py-sm-5">
    <div class="bg-overlay bg-primary"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center py-4 py-sm-5">

                    <div class="mb-5">
                        <a routerLink="/">
                            <img src="assets/images/logo-sm.svg" alt="" height="30" class="me-1"><span
                                class="logo-txt text-white font-size-22">Minia</span>
                        </a>
                    </div>
                    <h3 class="text-white mt-5">Let's get started with Minia</h3>
                    <p class="text-white-50 font-size-16">Donec pede justo fringilla vel aliquet nec vulputate eget
                        arcu. In enim justo, rhoncus ut imperdiet a venenatis vitae, justo felis</p>

                    <div inputDate="December 31, 2021" class="counter-number ico-countdown mt-5">
                        <div class="coming-box">
                            <span class="count-title">Days</span>
                            <div class="count-num">{{_days}}</div>
                        </div>
                        <div class="coming-box">
                            <span class="count-title">Hours</span>
                            <div class="count-num">{{_hours}}</div>
                        </div>
                        <div class="coming-box">
                            <span class="count-title">Minutes</span>
                            <div class="count-num">{{_minutes}}</div>
                        </div>
                        <div class="coming-box">
                            <span class="count-title">Seconds</span>
                            <div class="count-num">{{_seconds}}</div>
                        </div>
                    </div>
                    <form class="app-search mt-5 mx-auto">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button class="btn btn-primary" type="button"><i
                                    class="bx bx-paper-plane align-middle"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- coming-content -->