<div class="row" *ngIf="!openCustDetails">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Customer List</h5>
                <!-- <p class="card-title-desc">
                </p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>CUSTOMER NAME</th>
                                <th>EMAIL</th>
                                <th>CONTACT</th>
                                <th>ROLE</th>
                                <th>COMPANY NAME</th>
                                <th>QUALITY</th>
                                <th>KYC STATUS</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of customerData | slice:0:5; let i = index;">
                                <th scope="row">{{s.id}}</th>
                                <td>{{s.cname}}</td>
                                <td>{{s.email}}</td>
                                <td>{{s.contact}} </td>
                                <td style="text-transform: uppercase;">{{s.role}}</td>
                                <td>{{s.comname}}</td>
                                <td>{{s.quality}}</td>
                                <td>
                                    <span class="bg-warning badge me-2" *ngIf="s.status==false">Pending</span>
                                    <span class="bg-info badge me-2" *ngIf="s.status==true">Done</span>
                                </td>
                                <td>
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                            (click)="viewCustomerDetails(s)"><i
                                                class="fas fa-eye font-size-16 align-middle"></i></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <div class="row mt-4">
                    <div class="col-7">
                        Showing {{startIndex}} - {{endIndex}} of {{totalRecords}}
                    </div>
                    <div class="col-5">
                        <div class="btn-group float-end">
                            <ngb-pagination class="pagination-rounded" [collectionSize]="totalRecords"
                                (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageSize">
                            </ngb-pagination>
                            <!--Pagination-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<div class="row" *ngIf="openCustDetails">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="card-title">Customer Details </h4>
                    </div>
                    <div class="col-md-2" *ngIf="kyc==1"></div>
                    <div class="col-md-2" *ngIf="kyc==0">
                        <button type="button" class="btn btn-warning waves-effect waves-light" (click)="confirm()"><i
                                class="mdi mdi-file-lock-outline"></i> KYC Pending</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger waves-effect waves-light"
                            (click)="backToCustomer()"> back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Salutation</label>
                                    <select required class="form-control form-select" formControlName="select"
                                        [ngClass]="{'is-invalid': submitted && f.select.errors}">
                                        <option value="" disabled>Select Salutation</option>
                                        <option value="Mr">Mr.</option>
                                        <option value="Mrs">Mrs.</option>
                                        <option value="Ms">Ms.</option>
                                    </select>
                                    <div *ngIf="submitted && f.select.errors" class="invalid-feedback">
                                        <span *ngIf="f.select.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fname" class="form-label">First
                                        name</label>
                                    <input type="text" class="form-control" id="fname" formControlName="fname"
                                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                                        placeholder="Enter First Name" [(ngModel)]="customerModel.cname">
                                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                                        <div *ngIf="f.fname.errors.min">Only characters allowed.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="lname" class="form-label">Last
                                        name</label>
                                    <input type="text" class="form-control" id="lname" formControlName="lname"
                                        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                                        placeholder="Enter Last Name" [(ngModel)]="customerModel.cname">
                                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                                        <div *ngIf="f.lname.errors.min">Only characters allowed.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-phoneno-input1" class="form-label">Phone
                                        Number</label>
                                    <input type="text" class="form-control" id="contact" formControlName="contact"
                                        [(ngModel)]="customerModel.contact"
                                        [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
                                        placeholder="Enter Phone Number">
                                    <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                                        <div *ngIf="f.contact.errors.required">Contact Number is required</div>
                                        <div *ngIf="f.contact.errors.min">Only numbers allowed.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-email-input1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        placeholder="Enter Email" [(ngModel)]="customerModel.email">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Register As.</label>
                                    <select required class="form-control form-select" formControlName="selectR"
                                        [ngClass]="{'is-invalid': submitted && f.selectR.errors}">
                                        <option value="" disabled>Select Role</option>
                                        <option value="Mr">Seller</option>
                                        <option value="Mrs">Buyer</option>
                                    </select>
                                    <div *ngIf="submitted && f.selectR.errors" class="invalid-feedback">
                                        <span *ngIf="f.selectR.errors.required">This Field is
                                            required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-comapanyname-input1" class="form-label">Company
                                        Name.</label>
                                    <input type="text" class="form-control" id="companyname"
                                        formControlName="companyname"
                                        [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"
                                        placeholder="Enter Company Name" [(ngModel)]="customerModel.comname">
                                    <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                                        <div *ngIf="f.companyname.errors.required">Company Name is required
                                        </div>
                                        <div *ngIf="f.companyname.errors.min">Enter Only characters and numbers.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-desgination-input1" class="form-label">Desgination</label>
                                    <input type="text" class="form-control" id="desgination"
                                        formControlName="desgination"
                                        [ngClass]="{ 'is-invalid': submitted && f.desgination.errors }"
                                        placeholder="Enter Desgination" [(ngModel)]="customerModel.desigination">
                                    <div *ngIf="submitted && f.desgination.errors" class="invalid-feedback">
                                        <div *ngIf="f.desgination.errors.required">Company Name is required
                                        </div>
                                        <div *ngIf="f.desgination.errors.min">Enter Only characters and numbers.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-gst-input1" class="form-label">GST
                                        No.</label>
                                    <input type="text" class="form-control" id="gstno" formControlName="gstno"
                                        [ngClass]="{ 'is-invalid': submitted && f.gstno.errors }"
                                        placeholder="Enter GST Number" [(ngModel)]="customerModel.gst">
                                    <div *ngIf="submitted && f.gstno.errors" class="invalid-feedback">
                                        <div *ngIf="f.gstno.errors.required">Company Name is required
                                        </div>
                                        <div *ngIf="f.gstno.errors.min">Enter Only characters and numbers.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-workedphone-input1" class="form-label">Worked
                                        Phone</label>
                                    <input type="text" class="form-control" id="workphone" formControlName="workphone"
                                        [ngClass]="{ 'is-invalid': submitted && f.workphone.errors }"
                                        placeholder="Enter Worked Phone" [(ngModel)]="customerModel.workPhone">
                                    <div *ngIf="submitted && f.workphone.errors" class="invalid-feedback">
                                        <div *ngIf="f.workphone.errors.required">Work Phone Number is required
                                        </div>
                                        <div *ngIf="f.workphone.errors.min">Only numbers allowed.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Material Quality</label>
                                    <select required class="form-control form-select" formControlName="selectM"
                                        [ngClass]="{'is-invalid': submitted && f.selectM.errors}">
                                        <option value disabled>Select Material Quality</option>
                                        <option value="q1">Q1</option>
                                        <option value="q2">Q2</option>
                                        <option value="q3">Q3</option>
                                    </select>
                                    <div *ngIf="submitted && f.selectM.errors" class="invalid-feedback">
                                        <span *ngIf="f.selectM.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label for="basicpill-address-input" class="form-label">Company
                                        Address</label>
                                    <textarea id="basicpill-address-input" class="form-control" rows="3"
                                        placeholder="Enter Company Address" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="customerModel.address"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-primary btn-sm btn-block"
                                            (click)="fileInput.click()">Upload
                                            Image</button>
                                        <button type="submit" class="btn btn-warning btn-sm btn-block">Remove
                                            Image</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group mt-3 mb-3 form-check">
                            <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                                data-pristine-required-message="You must accept the terms and conditions" />
                            <label class="form-check-label" for="term-check01">I accept the terms and
                                conditions</label><br />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div> -->
                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>