<div class="card-body bg-soft-light">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs-custom card-header-tabs ">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link px-3">
                                Overview
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane active" id="overview" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Customer Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <form [formGroup]="validationForm">
                                                    <input type="hidden" />
                                                    <!-- <div class="row">
                                                        <h4 class="card-title mb-3">Personal Details</h4>
                                                    </div> -->
                                                    <div class="row">
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Salutation</label>
                                                                <select [disabled]="disabled" required class="form-control form-select" [(ngModel)]="customerDetails.salutation"
                                                                    formControlName="select"
                                                                    [ngClass]="{'is-invalid': submitted && f.select.errors}">
                                                                    <option value="" disabled>Select Salutation</option>
                                                                    <option value="Mr">Mr.</option>
                                                                    <option value="Mrs">Mrs.</option>
                                                                    <option value="Ms">Ms.</option>
                                                                </select>
                                                                <div *ngIf="submitted && f.select.errors"
                                                                    class="invalid-feedback">
                                                                    <span *ngIf="f.select.errors.required">This Field is
                                                                        required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="fname" class="form-label">First
                                                                    name</label>
                                                                <input type="text" class="form-control" id="fname"
                                                                    formControlName="fname"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                                                                    placeholder="Enter First Name"
                                                                    [(ngModel)]="customerDetails.firstName">
                                                                <div *ngIf="submitted && f.fname.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.fname.errors.required">First Name is
                                                                        required</div>
                                                                    <div *ngIf="f.fname.errors.min">Only characters
                                                                        allowed.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="lname" class="form-label">Last
                                                                    name</label>
                                                                <input type="text" class="form-control" id="lname"
                                                                    formControlName="lname"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                                                                    placeholder="Enter Last Name"
                                                                    [(ngModel)]="customerDetails.lastName">
                                                                <div *ngIf="submitted && f.lname.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.lname.errors.required">Last Name is
                                                                        required</div>
                                                                    <div *ngIf="f.lname.errors.min">Only characters
                                                                        allowed.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-phoneno-input1"
                                                                    class="form-label">Phone
                                                                    Number</label>
                                                                <input type="text" class="form-control" id="contact"
                                                                    formControlName="contact"
                                                                    [(ngModel)]="customerDetails.phone"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
                                                                    placeholder="Enter Phone Number">
                                                                <div *ngIf="submitted && f.contact.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.contact.errors.required">Contact
                                                                        Number is required</div>
                                                                    <div *ngIf="f.contact.errors.min">Only numbers
                                                                        allowed.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-email-input1"
                                                                    class="form-label">Email</label>
                                                                <input type="email" class="form-control" id="email"
                                                                    formControlName="email"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                                                    placeholder="Enter Email"
                                                                    [(ngModel)]="customerDetails.email">
                                                                <div *ngIf="submitted && f.email.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.email.errors.required">Email is
                                                                        required</div>
                                                                    <div *ngIf="f.email.errors.email">Email must be a
                                                                        valid email address
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Register As.</label>
                                                                <input type="text" class="form-control" id="role"
                                                                    formControlName="selectR"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.selectR.errors }"
                                                                    placeholder="Register As"
                                                                    [(ngModel)]="customerDetails.role">
                                                                <div *ngIf="submitted && f.selectR.errors"
                                                                    class="invalid-feedback">
                                                                    <span *ngIf="f.selectR.errors.required">This Field
                                                                        is
                                                                        required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <h4 class="card-title mb-3">Company Details</h4>
                                                        </div> -->
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-comapanyname-input1"
                                                                    class="form-label">Company
                                                                    Name.</label>
                                                                <input type="text" class="form-control" id="companyname"
                                                                    formControlName="companyname"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"
                                                                    placeholder="Enter Company Name"
                                                                    [(ngModel)]="customerDetails.companyName">
                                                                <div *ngIf="submitted && f.companyname.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.companyname.errors.required">Company
                                                                        Name is required
                                                                    </div>
                                                                    <div *ngIf="f.companyname.errors.min">Enter Only
                                                                        characters and numbers.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-desgination-input1"
                                                                    class="form-label">Desgination</label>
                                                                <input type="text" class="form-control" id="desgination"
                                                                    formControlName="desgination"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.desgination.errors }"
                                                                    placeholder="Enter Desgination"
                                                                    [(ngModel)]="customerDetails.desigination">
                                                                <div *ngIf="submitted && f.desgination.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.desgination.errors.required">Company
                                                                        Name is required
                                                                    </div>
                                                                    <div *ngIf="f.desgination.errors.min">Enter Only
                                                                        characters and numbers.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-gst-input1" class="form-label">GST
                                                                    No.</label>
                                                                <input type="text" class="form-control" id="gstno"
                                                                    formControlName="gstno"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.gstno.errors }"
                                                                    placeholder="Enter GST Number"
                                                                    [(ngModel)]="customerDetails.GST_no">
                                                                <div *ngIf="submitted && f.gstno.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.gstno.errors.required">Company Name is
                                                                        required
                                                                    </div>
                                                                    <div *ngIf="f.gstno.errors.min">Enter Only
                                                                        characters and numbers.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-workedphone-input1"
                                                                    class="form-label">Worked
                                                                    Phone</label>
                                                                <input type="text" class="form-control" id="workphone"
                                                                    formControlName="workphone"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.workphone.errors }"
                                                                    placeholder="Enter Worked Phone"
                                                                    [(ngModel)]="customerDetails.companyName">
                                                                <div *ngIf="submitted && f.workphone.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.workphone.errors.required">Work Phone
                                                                        Number is required
                                                                    </div>
                                                                    <div *ngIf="f.workphone.errors.min">Only numbers
                                                                        allowed.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label class="form-label">Material Quality</label>
                                                                <select required class="form-control form-select"
                                                                    formControlName="selectM"
                                                                    [ngClass]="{'is-invalid': submitted && f.selectM.errors}">
                                                                    <option value disabled>Select Material Quality
                                                                    </option>
                                                                    <option value="q1">Q1</option>
                                                                    <option value="q2">Q2</option>
                                                                    <option value="q3">Q3</option>
                                                                </select>
                                                                <div *ngIf="submitted && f.selectM.errors"
                                                                    class="invalid-feedback">
                                                                    <span *ngIf="f.selectM.errors.required">This Field
                                                                        is required.</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-md-3">
                                                            <div class="form-group mb-3">
                                                                <label for="basicpill-address-input"
                                                                    class="form-label">Company
                                                                    Address</label>
                                                                <textarea id="basicpill-address-input"
                                                                    class="form-control" rows="3"
                                                                    placeholder="Enter Company Address"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="customerDetails.address"></textarea>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <h4 class="card-title mb-3">Bank Details</h4>
                                                        </div> -->
                                                        <div class="row">
                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label class="form-label">Account Type</label>
                                                                    <select class="form-select">
                                                                        <option selected>Select Account Type</option>
                                                                        <option value="saving">Saving Account</option>
                                                                        <option value="current">Current Account</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-pancard-input1"
                                                                        class="form-label">Account
                                                                        Holder's
                                                                        Name.</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basicpill-pancard-input1"
                                                                        placeholder="Enter A/C Holder's Name">
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-vatno-input1"
                                                                        class="form-label">Bank Name
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                        id="basicpill-vatno-input1"
                                                                        placeholder="Enter Bankname">
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-cstno-input1"
                                                                        class="form-label">Bank A/c
                                                                        No.</label>
                                                                    <input type="number" class="form-control"
                                                                        id="basicpill-cstno-input1"
                                                                        placeholder="Enter Account Number">
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-phoneno-input1"
                                                                        class="form-label">Branch
                                                                        Name</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basicpill-phoneno-input1"
                                                                        placeholder="Enter Branch Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-md-3">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-phoneno-input1"
                                                                        class="form-label">IFSC</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basicpill-phoneno-input1"
                                                                        placeholder="Enter IFSC Code">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="mb-3">
                                                                    <label for="basicpill-phoneno-input1"
                                                                        class="form-label">Upload Cancelled
                                                                        Cheque</label>
                                                                    <img class="img-thumbnail" alt="200x200" width="200"
                                                                        src="assets/images/small/img-3.jpg"
                                                                        data-holder-rendered="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="form-group mt-3 mb-3 form-check">
                                                            <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                                                                data-pristine-required-message="You must accept the terms and conditions" />
                                                            <label class="form-check-label" for="term-check01">I accept the terms and
                                                                conditions</label><br />
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>

                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link px-3">
                                Trade List
                            </a>
                            <ng-template ngbNavContent>
                                <div class="tab-pane" id="about" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Trade List</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-nowrap align-middle mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Date</th>
                                                            <th>Order_ID</th>
                                                            <th *ngIf="customerDetails.role=='seller'">Buyer</th>
                                                            <th *ngIf="customerDetails.role=='buyer'">Seller</th>
                                                            <th>Location</th>
                                                            <th>Quality</th>
                                                            <th>Quantity</th>
                                                            <th>Rate</th>
                                                            <th>Validity</th>
                                                            <th>Delivery_terms</th>
                                                            <th>Payment_terms</th>
                                                            <th>Commission</th>
                                                            <th>Delivery</th>
                                                            <th>Payment</th>
                                                            <!-- <th>Action</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let s of tradeList">
                                                            <th scope="row">{{s.id}}</th>
                                                            <td>{{dateString}}</td>
                                                            <td>{{s.Order_ID}}</td>
                                                            <td *ngIf="customerDetails.role=='seller'">{{s.Buyer}}</td>
                                                            <td *ngIf="customerDetails.role=='buyer'">{{s.Seller}}</td>
                                                            <td>{{s.location}}</td>
                                                            <td>{{s.Quality}}</td>
                                                            <td>{{s.Quantity}} ton.</td>
                                                            <td>{{s.Rate}} ₹</td>
                                                            <td>{{dateString1}}</td>
                                                            <td>{{s.Delivery_terms}}</td>
                                                            <td>{{s.Payment_terms}}</td>
                                                            <td>
                                                                <span class="badge bg-success"
                                                                    *ngIf="s.Status_Commission=='Received'">{{s.Status_Commission}}</span>
                                                                <span class="badge bg-danger"
                                                                    *ngIf="s.Status_Commission=='Not received'">{{s.Status_Commission}}</span>

                                                            </td>
                                                            <td>
                                                                <span class="badge bg-success"
                                                                    *ngIf="s.Status_Delivery=='Delivered'">{{s.Status_Delivery}}</span>
                                                                <span class="badge bg-secondary"
                                                                    *ngIf="s.Status_Delivery=='Dispatched'">{{s.Status_Delivery}}</span>
                                                                <span class="badge bg-warning"
                                                                    *ngIf="s.Status_Delivery=='Pending'">{{s.Status_Delivery}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge bg-success"
                                                                    *ngIf="s.Status_Payment=='Complete'">{{s.Status_Payment}}</span>
                                                                <span class="badge bg-warning"
                                                                    *ngIf="s.Status_Payment=='Pending'">{{s.Status_Payment}}</span>
                                                            </td>
                                                            <!-- <td>
                                                                <div class="d-flex flex-wrap gap-2">
                                                                    <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                                                        data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                                                        (click)="editAcceptOrder(s)"><i
                                                                            class="bx bx-edit font-size-16 align-middle"></i></button>
                                                                </div>
                                                            </td> -->

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                            </ng-template>
                        </li>

                    </ul>
                </div>
                <!-- end card body -->
            </div>
            <div [ngbNavOutlet]="nav" class=""></div>
        </div>
    </div>
</div>