<div class="row" *ngIf="!paymentOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Seller Trade Summary</h5>
                <!-- <p class="card-title-desc">
                   
                </p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>ORDER ID</th>
                                <th>ORDER STATUS</th>
                                <th>BUYER NAME</th>
                                <th>BUYER LOCATION</th>
                                <th>QUALITY</th>
                                <th>QUANTITY (mt)</th>
                                <th>RATE (rs/pmt)</th>
                                <th>STATUS</th>
                                <th>PAYMENT STATUS</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let s of sellerTrade;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{s.id}}</td>
                                <td>{{s.tradeStatus}}</td>
                                <td>{{s.firstName}} {{s.lastName}}</td>
                                <td width="1">{{s.location}}</td>
                                <td>{{s.req_quality}} (mt)</td>
                                <td>{{s.req_quantity}} (mt)</td>
                                <td>{{s.buyerRate}} ₹</td>
                                <td>{{s.tradeStatus}}</td>
                                <td>PENDING</td>
                                <td>
                                    <span class="badge bg-success" *ngIf="s.tradeStatus=='ACCEPTED'">{{s.tradeStatus}}</span>
                                    <span class="badge bg-info" *ngIf="s.tradeStatus=='IDEAL'">Not Review By Buyer</span>
                                    <span class="badge bg-danger" *ngIf="s.tradeStatus=='REJECTED'">{{s.tradeStatus}}</span>
                                    <br>
                                    <div *ngIf="s.tradeStatus=='PENDING'">
                                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Download" (click)="acceptAndPay(s)"><i
                                                class="bx bx-edit font-size-16 align-middle me-2"></i> View Invoice</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<div  *ngIf="paymentOpen">
    <app-customer-payment [buyer]="sellerModel"></app-customer-payment>
</div>