<div class="row" *ngIf="isTradeOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Seller Trade Summary</h5>
                <!-- <p class="card-title-desc">
                   
                </p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-center">ORDER ID</th>
                                <th class="text-center">BUYER NAME</th>
                                <th class="text-center">BUYER LOCATION</th>
                                <th class="text-center">QUALITY</th>
                                <th class="text-center">QUANTITY (mt)</th>
                                <th class="text-center">RATE (rs/pmt)</th>
                                <th class="text-center">STATUS</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of sellerTrade;let i=index">
                                <td class="text-left" scope="row">{{i+1}}</td>
                                <td class="text-center">{{s.id}}</td>
                                <!-- <td class="text-center">{{s.tradeStatus}}</td> -->
                                <td class="text-center">{{s.buyerName}}</td>
                                <td width="1">{{s.location}}</td>
                                <td class="text-center">{{s.req_quality}} (mt)</td>
                                <td class="text-center">{{s.req_quantity}} (mt)</td>
                                <td class="text-center">{{s.buyerRate}} ₹</td>
                                <td class="text-center">
                                    <span class="badge bg-warning"
                                        *ngIf="s.tradeStatus=='PENDING'">{{s.tradeStatus}}</span>
                                    <span class="badge bg-success"
                                        *ngIf="s.tradeStatus=='ACCEPTED'">{{s.tradeStatus}}</span>
                                    <span class="badge bg-info" *ngIf="s.tradeStatus=='IDEAL'">Not Review By
                                        Buyer</span>
                                    <span class="badge bg-danger"
                                        *ngIf="s.tradeStatus=='REJECTED'">{{s.tradeStatus}}</span>
                                </td>
                                <td class="text-end">
                                    <div *ngIf="s.sellerComissionPay==false && s.tradeStatus=='ACCEPTED' ">
                                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Download"
                                            (click)="acceptAndPay(s)"><i
                                                class="bx bx-edit font-size-16 align-middle me-2"></i> View
                                            Details</button>
                                    </div>
                                    <div *ngIf="s.tradeStatus!='ACCEPTED'">
                                        <b>-</b>
                                    </div>
                                    <div *ngIf="s.sellerComissionPay==true ">
                                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="View & Download"
                                            (click)="viewTradeDetails(s)"><i
                                                class="fa fa-eye font-size-16 align-middle me-2"></i> View</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>

<div class="row" *ngIf="paymentOpen">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="card-title">Accept Or Reject Trade</h5>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger waves-effect waves-light"
                            (click)="backToSummary()"><i class="bx bx-left-arrow-alt"></i>back</button>
                    </div>
                </div>

                <!-- <p class="card-title-desc">New Trade Request</p> -->
            </div>
            <div class="card-body">
                <app-customer-payment [seller]="sellerModel"></app-customer-payment>

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="openDetails">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="card-title">Trade Details</h5>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger waves-effect waves-light"
                            (click)="backToSummary()"><i class="bx bx-left-arrow-alt"></i>back</button>
                    </div>
                </div>

                <!-- <p class="card-title-desc">New Trade Request</p> -->
            </div>
            <!-- end card header -->
            <app-seller-trade-summary-details [seller]="sellerDetails"></app-seller-trade-summary-details>

        </div>
    </div>
</div>