<app-header-main></app-header-main>
<div class="bg-soft-light" style="margin-bottom: 60px !important;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <h3 class="mb-3 mt-2">Privacy Policy</h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm order-2 order-sm-1">
                            <div class="d-flex align-items-start mt-3 mt-sm-0">
                                <div class="flex-shrink-0">
                                    <h5 class="text-muted font-size-16 mb-1">©Copyright 2022, Nextgen Metals, <br>
                                        All Rights Reserved
                                    </h5>
                                    <p class="text-muted font-size-13">Last Updated: September 2022</p>
                                </div>
                                <div class="flex-grow-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto order-1 order-sm-2">
                            <div class="d-flex align-items-start justify-content-end gap-2">
                                <div>
                                    <h5 class="text-muted font-size-16"> <i class="bx bx-envelope "></i> Email:
                                        info@nextgenmetals.com</h5>
                                    <h5 class="text-muted font-size-16"> <i class="bx bx-phone-call"></i> Contact:
                                        9898949828</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-muted font-size-16 mb-4 text-center">
                        This privacy policy explains what personal data we collect from you when you are using our
                        website <a href="#!" class="notification-item">www.nextgenmetals.com</a> and how we use it.
                    </h5>
                    <div class="pb-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">1. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p class="mb-2">Hi I'm Phyllis Gatlin, Lorem Ipsum
                                        is simply
                                        dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard
                                        dummy text
                                        ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type
                                        specimen
                                        book. It has survived not only five centuries,
                                        but also
                                        the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing
                                        Lorem
                                        Ipsum passages</p>
                                    <p class="mb-0">It is a long established fact that a
                                        reader
                                        will be distracted by the readable content of a
                                        page
                                        when looking at it has a more-or-less normal
                                        distribution of letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">2. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p>If several languages coalesce, the grammar of the
                                        resulting language is more simple and regular
                                        than that
                                        of the individual languages. The new common
                                        language
                                        will be more simple and regular than the
                                        existing
                                        European languages. It will be as simple as
                                        Occidental;
                                        in fact, it will be Occidental. To an English
                                        person, it
                                        will seem like simplified English, as a
                                        skeptical
                                        Cambridge friend of mine told me what Occidental
                                        is. The
                                        European languages are members of the same
                                        family. Their
                                        separate existence is a myth. For science,
                                        music, sport,
                                        etc</p>

                                    <ul class="list-unstyled mb-0">
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Donec
                                            vitae sapien ut libero venenatis faucibus
                                        </li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Quisque
                                            rutrum aenean imperdiet</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Integer
                                            ante a consectetuer eget</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Phasellus
                                            nec sem in justo pellentesque</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">3. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p class="mb-2">Hi I'm Phyllis Gatlin, Lorem Ipsum
                                        is simply
                                        dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard
                                        dummy text
                                        ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type
                                        specimen
                                        book. It has survived not only five centuries,
                                        but also
                                        the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing
                                        Lorem
                                        Ipsum passages</p>
                                    <p class="mb-0">It is a long established fact that a
                                        reader
                                        will be distracted by the readable content of a
                                        page
                                        when looking at it has a more-or-less normal
                                        distribution of letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">4. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p>If several languages coalesce, the grammar of the
                                        resulting language is more simple and regular
                                        than that
                                        of the individual languages. The new common
                                        language
                                        will be more simple and regular than the
                                        existing
                                        European languages. It will be as simple as
                                        Occidental;
                                        in fact, it will be Occidental. To an English
                                        person, it
                                        will seem like simplified English, as a
                                        skeptical
                                        Cambridge friend of mine told me what Occidental
                                        is. The
                                        European languages are members of the same
                                        family. Their
                                        separate existence is a myth. For science,
                                        music, sport,
                                        etc</p>

                                    <ul class="list-unstyled mb-0">
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Donec
                                            vitae sapien ut libero venenatis faucibus
                                        </li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Quisque
                                            rutrum aenean imperdiet</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Integer
                                            ante a consectetuer eget</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Phasellus
                                            nec sem in justo pellentesque</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">5. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p class="mb-2">Hi I'm Phyllis Gatlin, Lorem Ipsum
                                        is simply
                                        dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard
                                        dummy text
                                        ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type
                                        specimen
                                        book. It has survived not only five centuries,
                                        but also
                                        the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing
                                        Lorem
                                        Ipsum passages</p>
                                    <p class="mb-0">It is a long established fact that a
                                        reader
                                        will be distracted by the readable content of a
                                        page
                                        when looking at it has a more-or-less normal
                                        distribution of letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">6. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p>If several languages coalesce, the grammar of the
                                        resulting language is more simple and regular
                                        than that
                                        of the individual languages. The new common
                                        language
                                        will be more simple and regular than the
                                        existing
                                        European languages. It will be as simple as
                                        Occidental;
                                        in fact, it will be Occidental. To an English
                                        person, it
                                        will seem like simplified English, as a
                                        skeptical
                                        Cambridge friend of mine told me what Occidental
                                        is. The
                                        European languages are members of the same
                                        family. Their
                                        separate existence is a myth. For science,
                                        music, sport,
                                        etc</p>

                                    <ul class="list-unstyled mb-0">
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Donec
                                            vitae sapien ut libero venenatis faucibus
                                        </li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Quisque
                                            rutrum aenean imperdiet</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Integer
                                            ante a consectetuer eget</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Phasellus
                                            nec sem in justo pellentesque</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">7. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p class="mb-2">Hi I'm Phyllis Gatlin, Lorem Ipsum
                                        is simply
                                        dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard
                                        dummy text
                                        ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type
                                        specimen
                                        book. It has survived not only five centuries,
                                        but also
                                        the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing
                                        Lorem
                                        Ipsum passages</p>
                                    <p class="mb-0">It is a long established fact that a
                                        reader
                                        will be distracted by the readable content of a
                                        page
                                        when looking at it has a more-or-less normal
                                        distribution of letters</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <div class="col-xl-1">
                                <div>
                                    <h5 class="font-size-15">8. Subject</h5>
                                </div>
                            </div>
                            <div class="col-xl">
                                <div class="text-muted">
                                    <p>If several languages coalesce, the grammar of the
                                        resulting language is more simple and regular
                                        than that
                                        of the individual languages. The new common
                                        language
                                        will be more simple and regular than the
                                        existing
                                        European languages. It will be as simple as
                                        Occidental;
                                        in fact, it will be Occidental. To an English
                                        person, it
                                        will seem like simplified English, as a
                                        skeptical
                                        Cambridge friend of mine told me what Occidental
                                        is. The
                                        European languages are members of the same
                                        family. Their
                                        separate existence is a myth. For science,
                                        music, sport,
                                        etc</p>

                                    <ul class="list-unstyled mb-0">
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Donec
                                            vitae sapien ut libero venenatis faucibus
                                        </li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Quisque
                                            rutrum aenean imperdiet</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Integer
                                            ante a consectetuer eget</li>
                                        <li class="py-1"><i
                                                class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Phasellus
                                            nec sem in justo pellentesque</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>