<app-header-main></app-header-main>
<div class="bg-soft-light mt-5  ">
    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center mb-4 mt-5">About Us</h2>
                <div class="row">
                    <div class="col-lg-7">
                        <!-- <h5 class="mb-4 text-muted">About Buying</h5> -->
                        <ul class="list-unstyled mb-0">
                            <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Metal
                                Mandi is India's first digital B2B trade platform for metal scrap. </li>
                            <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>An
                                initiative by
                                Nextgen Metals LLP, we offer a seamless way to connect buyers and sellers to help them
                                trade in real-time.
                            </li>
                            <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>With
                                the rapid expansion of metal industry, the metal scrap industry in India has been
                                lagging behind in terms of digitalization.</li>
                            <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>At
                                Metal Mandi, we aim to accelerate a digital transformation by ensuring:</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <ul class="bg-bubbles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <img src="assets/images/small/about.png" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 8% !important;">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center mb-4 mt-2 text-muted">Company Profile</h3>
            <div class="row">
                <div class="col-lg-5">
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <img src="assets/images/small/company.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-7">
                    <!-- <h5 class="mb-4 text-muted">About Buying</h5> -->
                    <ul class="list-unstyled mb-0">
                        <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Lorem
                            Ipsum is
                            simply dummy text of the printing and typesetting
                            industry. </li>
                        <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>Lorem
                            Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </li>
                        <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>It
                            has
                            survived not only five centuries, but also the leap into electronic typesetting,
                            remaining
                            essentially unchanged. </li>
                        <li class="py-1"><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus
                            PageMaker including versions of Lorem Ipsum.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>