<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">BUYER Request</h5>

                <p class="card-title-desc">New Trade Request</p>
            </div>
            <!-- end card header -->

            <div class="card-body">
                <div>
                    <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" />
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Material Quality</label>
                                    <select required class="form-control form-select" formControlName="select"
                                        [ngClass]="{'is-invalid': submitted && f.select.errors}">
                                        <option value disabled>Select Material Quality</option>
                                        <option value="q1">Q1</option>
                                        <option value="q2">Q2</option>
                                        <option value="q3">Q3</option>
                                    </select>
                                    <div *ngIf="submitted && f.select.errors" class="invalid-feedback">
                                        <span *ngIf="f.select.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Quantity (Metric Ton)</label>
                                    <input type="number" formControlName="quantity"
                                        [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                        class="form-control" id="quantity" placeholder="Enter Quantity (mt)">
                                    <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                        <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                                        <div *ngIf="f.quantity.errors.min">Only Numbers allowed & Do not enter
                                            characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Rate (Rupees / Per Metric Ton)</label>
                                    <input type="number" formControlName="rate"
                                        [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" class="form-control"
                                        id="rate" placeholder="Enter Rate (rs/pmt)">
                                    <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                                        <div *ngIf="f.rate.errors.required">Rate is required</div>
                                        <div *ngIf="f.rate.errors.min">Only Numbers allowed & Do not enter characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Payment Terms</label>
                                    <select required class="form-control form-select" formControlName="selectP"
                                        [ngClass]="{'is-invalid': submitted && f.selectP.errors}"
                                        [ngModel]="selectedValue" (ngModelChange)="onPaymentChange($event)">
                                        <option value disabled>Select Payment Terms</option>
                                        <option *ngFor="let p of paymentTerms" [ngValue]="p.id">{{p.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.selectP.errors" class="invalid-feedback">
                                        <span *ngIf="f.selectP.errors.required">This Field is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6" *ngIf="paymentOpen">
                                <div class="form-group mb-3">
                                    <label>Payment Days</label>
                                    <input type="number" formControlName="terms"
                                        [ngClass]="{ 'is-invalid': submitted && f.terms.errors }" class="form-control"
                                        id="terms" placeholder="Enter Payment Terms (days)">
                                    <div *ngIf="submitted && f.terms.errors" class="invalid-feedback">
                                        <div *ngIf="f.terms.errors.required">Payment Terms is required</div>
                                        <div *ngIf="f.terms.errors.min">Only Numbers allowed & Do not enter characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="form-group mb-3">
                                    <label>Validity</label>
                                    <input class="form-control" formControlName="validity" type="date"
                                        value="2019-08-19" id="validity"
                                        [ngClass]="{ 'is-invalid': submitted && f.validity.errors }"
                                        placeholder="Select Validity">
                                    <div *ngIf="submitted && f.validity.errors" class="invalid-feedback">
                                        <div *ngIf="f.validity.errors.required">Validity is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="form-group mt-3 mb-3 form-check">
                            <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                                data-pristine-required-message="You must accept the terms and conditions" />
                            <label class="form-check-label" for="term-check01">I accept the terms and
                                conditions</label><br />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>