<div class="card-body">
    <div>
        <form>
            <input type="hidden" />
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Order ID</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Order Id"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.id">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Buyer Name</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.buyerName">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Buyer Location</label>
                        <input type="text" disabled class="form-control" id="location" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.buyerLocation">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>GST NO</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="GST NO"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.gstnumber">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <label>Quality</label>
                    <input type="text" class="form-control" id="quality" placeholder="Enter quality" disabled
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.req_quality">
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Required Quantity (Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="quantity"
                            placeholder="Enter Quantity (mt)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.req_quantity">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Quantity From Seller (Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="quantity"
                            placeholder="Enter Quantity (mt)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.sellerQuantity">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Rate (Rupees / Per Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="rate" placeholder="Enter Rate (rs/pmt)"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.buyerRate">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Total Amount</label>
                        <input type="number" disabled class="form-control" id="rate" placeholder="Enter Rate (rs/pmt)"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.invoiceAmount">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Terms (Days)</label>
                        <input type="number" disabled class="form-control" id="terms"
                            placeholder="Enter Delivery Terms (days)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.deliveryTerms">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Payment Terms (Days)</label>
                        <input type="text" disabled class="form-control" id="terms"
                            placeholder="Enter Payment Terms (days)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.payment_days">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Trade Date</label>
                        <input type="text" disabled class="form-control" id="tradeDate" placeholder="Enter Trade date"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.createdDate">
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Status</label>
                        <input type="text" disabled class="form-control" id="terms" placeholder="Enter Delivery Status"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.tradeStatus">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Trade Status</label>
                        <input type="text" disabled class="form-control" id="terms" placeholder="Enter Trade Status"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.tradeStatus">
                    </div>
                </div>
                              
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Transporter Vehicle No</label>
                        <input type="text" disabled [(ngModel)]="sellerModel.transportVehicle"
                            [ngModelOptions]="{standalone: true}" class="form-control" id="vehicle"
                            placeholder="Enter Vehicle Number">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Transporter Contact No</label>
                        <input type="number" disabled [(ngModel)]="sellerModel.transporterContact"
                            [ngModelOptions]="{standalone: true}" class="form-control" id="contact"
                            placeholder="Enter Transporter Contact">

                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Weight Proof Image Uploader</label>
                        <img class="img-thumbnail" alt="Weight Proof Reciept" width="200" data-holder-rendered="true">

                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Delivery Reciept/Proof Images</label> <br>
                        <img class="img-thumbnail" alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="form-group mt-3 mb-3 form-check">
                <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                    data-pristine-required-message="You must accept the terms and conditions" />
                <label class="form-check-label" for="term-check01">I accept the terms and
                    conditions</label><br />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>