<div class="card-body">
    <div>
        <form>
            <input type="hidden" />
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Order ID</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Order Id"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.tradeId">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Buyer Name</label>
                        <input type="text" disabled class="form-control" id="buyer" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.buyerName">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Buyer Location</label>
                        <input type="text" disabled class="form-control" id="location" placeholder="Enter Buyer"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.buyerLocation">
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <label>Quality</label>
                    <input type="text" class="form-control" id="quality" placeholder="Enter quality" disabled
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.quality">
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Total Quantity (Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="quantity"
                            placeholder="Enter Quantity (mt)" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.quantity">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Dispatch Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{sellerModel.dispachdate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivered Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{sellerModel.dilveredDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Due Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{sellerModel.dueDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Transport Vehicle Number</label>
                        <input type="text" disabled class="form-control" id="rate" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="sellerModel.vehicleNo">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Dispatched Quantity (Metric Ton)</label>
                        <input type="number" disabled class="form-control" id="rate"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.materialQuantity">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Invoice Total Amount</label>
                        <input type="number" disabled class="form-control" id="rate"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="sellerModel.invoiceAmount">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Unique Transaction Reference</label>
                        <input type="text" disabled class="form-control" id="rate" value="{{sellerModel.utrNo}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Payment Date</label>
                        <input type="text" disabled class="form-control" id="rate"
                            value="{{sellerModel.paymentDate|date}}">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Weight Slip</label> <br>
                        <img class="img-thumbnail" alt="200x200" width="200"
                            src="http://localhost:9000{{sellerModel.weightSlip}}" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Invoice Slip</label> <br>
                        <img class="img-thumbnail" alt="200x200" width="200"
                            src="http://localhost:9000{{sellerModel.invoiceImage}}" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.deliveryStatus=='Delivered'">
                    <div class="form-group mb-3">
                        <label>Delivery Reciept Image</label> <br>
                        <img class="img-thumbnail" alt="200x200" width="200"
                            src="http://localhost:9000{{sellerModel.deliveryReciept}}" data-holder-rendered="true">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6" *ngIf="sellerModel.paymentDate!=null">
                    <div class="form-group mb-3">
                        <label>Payment Slip Image</label> <br>
                        <img class="img-thumbnail" src="http://localhost:9000{{sellerModel.paymentImage}}"
                            alt="Delivery Reciept" width="200" data-holder-rendered="true">
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group mb-3">
                        <label>Upload Material Image</label>
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                    #fileInput (change)="uploadFile($event)" />
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview"
                                    [style.backgroundImage]="'url('+ imageUrl +')'">
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    (click)="fileInput.click()">Upload
                                    Image</button>
                                <button type="submit"
                                    class="btn btn-warning btn-sm btn-block">Remove
                                    Image</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- end row -->

            <!-- <div class="form-group mt-3 mb-3 form-check">
                <input id="term-check01" type="checkbox" class="form-check-input" name="future" required
                    data-pristine-required-message="You must accept the terms and conditions" />
                <label class="form-check-label" for="term-check01">I accept the terms and
                    conditions</label><br />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div> -->
        </form>
    </div>
</div>